:root {
  --bg-principal: #0f172a;
  --bg-card: #1e293b;
  --borda: #334155;
  --texto-secundario: #94a3b8;
  --texto-principal: #f8fafc;
  --destaque: #2563eb;
  --bg-secundario: #2c3e50;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-principal);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 45px 2px 45px 2px;
    border: 2px solid var(--borda);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-card);
    height: 700px;
    width: 900px;
}

.lista-tarefa h1 {
    margin-bottom: auto;
    align-self: center;
    color: var(--texto-principal);
}

.lista-tarefa {
    font-size: 20px;
    margin-top: 30px;
    border-radius: 15px;
    border: 3px solid var(--destaque);
    align-items: flex-start;
    display: flex;
    background-color: var(--bg-secundario);
    height: 450px;
    width: 490px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.container input {
    height: 35px;
    width: 80%;
    border: 2.4px solid var(--destaque);
    outline: none;
    border-radius: 7px;
    padding: 6px;
    margin: 10px;
}

.container button {
    width: 70%;
    height: 40px;
    font-size: 17px;
    border-radius: 12px;
    border: 1px solid var(--destaque);
    background-color: #2563eb;
    color: white;
    transition: 0.25s ease-in-out;
    cursor: pointer ;
}

.container button:hover {
    transform: scale(1.040);
}

.container button:active {
    transition: 0.1s ease-out;
    transform: scale(1);
}

.lista-tarefa ul {
    height: 70%;
    width: 75%;
    margin: auto;
    color: var(--texto-principal);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#clean {
    width: 40%;
}